body {
  background-color: black;
}

.calculator {
  position: relative;
  top: 100px;
  width: 375px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  text-align: center;
}
.head {
  top: 100px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.keypad {
  margin-top: 10px;
}

button {
  width: 75px;
  height: 75px;
  margin: 2px;
  border-radius: 10px;
}
#result {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  font-size: 30px;
}

.keypad button {
  background-color: #f1f1f1;
  color: black;
  font-size: 20px;
}
.keypad button:hover {
  background-color: rgb(152, 151, 151);
  color: black;
}
footer {
  background-color: transparent;
  color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.calculator input {
  text-align: right;
}
h1 {
  font-size: 50px;
}
